@import url(variables.css);
.weatherWidget{
    width: 100%;
    /* background: red; */
}
.location {
    /* background: tan; */
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.location input {
    font-size: 5vw;
    border: none;
    background: none;
    color: var(--color-1);
}
h1 {
    color: var(--color-1);
}
p {
    color: var(--color-1);
}
h2 {
    color: var(--color-1);
}
.boximg{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}
.boximg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.temperature{
    width: 100%;
    height: 20vh;
    color: var(--color-1);
    align-items: center;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
}
.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellowgreen; */
}
.contain img{
    width: 20vw;
}
.additionalInfo{
    /* background-color: teal; */
    width: 100%;
    color: black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.boxImg{
    width: 8vw;
    overflow: hidden;
    /* background-color: rebeccapurple; */
}
.boxImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box1,
.box2 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */
    gap: 2vh;
}
.wind,
.presure,
.uv,
.rain {
    /* background-color: tan; */
    display: flex;
    justify-content: space-between;
}
.additionalInfo p {
    color: black;
}
.fecha {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: lightblue; */
}
.menu {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(41, 34, 27); */
}
.menu button{
    width: 20vw;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
}
.menu button:hover{
    background-color:var(--button-1) ;
}
.seleccionado{
    background-color: var(--button-1);
}
.title {
    display: flex;
}
.container{
    /* background-color: thistle; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}
.container p {
    color: black;
}
.container img {
    width: 8vw;
}
.hour {
    /* background: blue; */
    margin: 3vw;
}
.barra {
    /* background: red; */
    width: 100%;
    height: 22vh;
    overflow: scroll;
}
.footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.sunrise{
    display: flex;
    font-size: 3vw;
}
.footer p{
    color: black;
}
.caja{
    height: 20vh;
    background: var(--color-1);
    /* background-color: rebeccapurple; */
}
.caja .location{
    /* background-color: red; */
    height: 5vh;
    margin-top: 10vh;
}
.caja .temperature{
    /* background-color: tan; */
    height: 10vh;
}
.caja .fecha{
    /* background-color: darkcyan; */
    height: 1vh;
    display: none;
}
.caja .location input{
    color: black;
}
.caja p,
.caja h1 {
    color: black;
}